.Header {
  margin: 0 auto;
  padding: 1.45rem 1.0875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header__title {
  margin: 0;
}

.Header__title a {
  text-decoration: none;
  color: rgba(244,230,89,1);
}

.Header__spacer {
  flex: 1;
}

.Header__link {
  margin-left: 1em;
  margin-right: 1em;
}

a.Header__link {
  text-decoration: none;
  color: rgba(244,230,89,1);
}
