// baseline
@import '/variables.scss';

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.75em;
  color: #000;
}

// Typography

p {
  font-size: 1em;
  line-height: 1.35em;
  font-weight: 100;
  margin-bottom: 1.35em;
}

a {
  color: #000;
  text-decoration: none;
  transition: all .15s linear;
  text-decoration: underline;
}

a.large {font-size: 1.75em;}

a.button {
  display: inline-block;
  background-color: transparent;
  border: 2px solid $od-light-purple;
  color: $od-light-purple;
  padding: 5px 20px;
  margin: 15px auto;
  &.large {
  font-size: 1.35em;
  padding: 10px 25px;
  }
  &:hover {
    color: $ntv-action;
    border: 2px solid $ntv-action;
  }
}

// layout

.block {
  width: 100%;
  min-height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $ntv-cream;
  padding-top: 75px;
  padding-bottom: 75px;
  .contents {
    max-width: 1200px;
    width: 100%;
  }
  &.sky {
    background-color: $ntv-sky;
  }
  &.creamer {
    background-color: $ntv-cream-dark;
  }
  &.background--image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

// Home page

.hero {
  min-height: 70vh;
  height: auto;
  padding-top: 120px !important;
  .contents {
    max-width: 900px;
    h3 { float: left; }
    .TwitterShareButton {
      padding-top: 5px; 
    }
  }
}

.intro {
  background-color: $od-yellow;
  p {
    font-size: 2.5em;
  }
}

.challenge {
  background-color: $od-yellow;
  padding-top: 75px;
  h2 {
    margin: 10px 0px; 
    &:nth-child(2){ margin-bottom: 50px; }
  }
  p {
    font-size: 1.5em;
  }
}

.solution {
  background-color: $od-yellow;
  padding-top: 25px;
  h2 {
    margin: 10px 0px; 
  }
  p {
    font-size: 1.5em;
  }
}

.Matrix {
  text-align: left;
  .Grid__Column--25:nth-child(1) {
    background-color: rgba(255,255,255,0.25);
    li { font-weight: 100; }
  }
  .Grid__Column--25:nth-child(2) {
    background-color: rgba(255,255,255,0.5);
    li { font-weight: 300; }
  }
  .Grid__Column--25:nth-child(3) {
    background-color: rgba(255,255,255,0.75);
    li { font-weight: 500; }
  }
  .Grid__Column--25:nth-child(4) {
    background-color: rgba(255,255,255,1);
    li { font-weight: 700; }
  }
  .Grid__Column--25 {
    .MatrixHeader { 
      padding-left: 10px; padding-top: 15px; margin: 0;
      h4 { margin: 0px 0px 5px 0px;}
      p { margin: 0; }
      border-bottom: 1px solid $od-yellow;
     }
    ul {
    width: 100%; 
      li {
      border-bottom: 1px solid $od-yellow;
      width: 100%;
      padding-left: 10px;
      }
    }
  }
}

.step--1, .step--2, .step--3 {
  background-color: $od-yellow;
  p {
    font-size: 1.5em;
  }
}

.doloLogo {
  max-width: 140px;
}

.footer {
  min-height: 200px;
  width: 100%;
  background-color: #000;
  .doloLogo {
    max-width: 60px;
  }
  .contents {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    * {
      text-align: center;
      flex: 0 1 auto;
      margin: 0 auto;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
  }
}

// Utils

.Layout .block{
  @media (max-width: $grid) {
    padding: 0px 25px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.spacer {
  flex-grow: 1;
}

.Grid.Matrix {
  @media (max-width: $tablet) {
    display: none;
  }
}
.MatrixGraphic {
  display: none;
  @media (max-width: $tablet) {
    display: block;
    max-width: 100%;
  }
}

@media all and (max-width: $tablet) {
  .row {
    .column {
      flex-basis: 100%;
    }
  }
  .block {
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.75em;
    }
    p { font-size: 18px; }
  }
}
