// baseline
@import '/variables.scss';

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.75em;
}

.Home__background {
  background-image: url('../../images/home__background.png');
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__animation {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .lottieControl {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 2280px;
    width: 105%;
  }
}

// Typography

p {
  font-size: 1em;
  line-height: 1.35em;
  font-weight: 100;
  margin-bottom: 1.35em;
}

a {
  color: $ntv-action;
  text-decoration: none;
  transition: all .15s linear;
}

a.button {
  display: inline-block;
  background-color: transparent;
  border: 2px solid $od-light-purple;
  color: $od-light-purple;
  padding: 5px 20px;
  margin: 15px auto;
  &.large {
  font-size: 1.35em;
  padding: 10px 25px;
  }
  &:hover {
    color: $ntv-action;
    border: 2px solid $ntv-action;
  }
}

// layout

.block {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $ntv-cream;
  .contents {
    max-width: 600px;
  }
  &.sky {
    background-color: $ntv-sky;
  }
  &.creamer {
    background-color: $ntv-cream-dark;
  }
  &.background--image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

// Home page

.intro {
  p {
    font-size: 2.5em;
  }
}

.documentation {
  text-align: center;
  p {
    font-size: 1.5em;
  }
}

.native {
  text-align: center;
  img {
    max-width: 280px;
  }
  p {
    font-size: 1.5em;
  }
}

.doloLogo {
  max-width: 140px;
}

.footer {
  min-height: 200px;
  width: 100%;
  background-color: $od-yellow;
  .doloLogo {
    max-width: 60px;
  }
  .contents {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    * {
      text-align: center;
      flex: 0 1 auto;
      margin: 0 auto;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
  }
}

// Utils

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.spacer {
  flex-grow: 1;
}

@media all and (max-width: $tablet) {
  .row {
    .column {
      flex-basis: 100%;
    }
  }
}
