// baseline
@import '/variables.scss';

.Members {
  background-color: $ntv-cream;
}

.Member {
  padding-top: 150px;
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  background-color: $ntv-cream;
  min-height: 100vh;
}
